.hideMobile {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.5s ease;
}

ul.list-group {
  min-height: 130px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", sans-serif;
}

#circularBtns {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

.mobileAddBtn {
  border-radius: 60px;
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  box-shadow: 0px 1px 4px black;
}

#mobileAddEmoji{
  margin-top: 4px;
  font-size: 25px;
}

#gitHubBtn {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  padding: 1px;
}

#gitHubImg {
  margin-top: 3px;
}

.btnDirections {
  border-radius: 60px;
  width: 50px;
  height: 49px;
}

.directionsList {
  list-style: none;
  text-align: justify;
}

.badge-primary {
  font-size: 90%;
  box-shadow: 0px 1px 4px black;
}

.taskTextStyle {
  padding-top: 2px;
}

.form-control {
  margin-top: 3%
}

.listGroupStyle {
  box-shadow: 0px 6px 15px black;
}

.dropover {
  background-color: rgba(0,0,0,0.3);
}

.dropover-active {
  background-color: rgba(0,0,0,0.9);
}

.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: "Staatliches", sans-serif;
  transform: translateY(150px);
  transition: all .5s ease-in-out;
  background-color: rgba(234,0,39,0.7);
}

.bottom-trash-drag {
  transform: translate(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color:rgba(234,0,39,1);
}

.btn-add, .btn-save {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-close, .btn-delete {
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-add:hover,
.btn-save:hover,
.btn-close:hover,
.btn-delete:hover {
  background-position: 1px -50px;
}

@media (min-width: 767px) {
  .mobileAddBtn {
    display: none; 
  }
}