/* Disappears when task is actively being dragged */
.hideMobile {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.5s ease;
}

ul.list-group {
  min-height: 130px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", sans-serif;
}

/* circularBtns sets the Github and Info buttons in the center of it's box */
#circularBtns {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

/* Mobile btn style, stays fixed at bottom right of screen */
.mobileAddBtn {
  border-radius: 60px;
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  box-shadow: 0px 1px 4px black;
}

/* This is the + within the button */
#mobileAddEmoji{
  margin-top: 4px;
  font-size: 25px;
}

/* Github btn style */
#gitHubBtn {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  padding: 1px;
}

/* Github img style (inside button) */
#gitHubImg {
  margin-top: 3px;
}

/* Info/Direction styles  */
.btnDirections {
  border-radius: 60px;
  width: 50px;
  height: 49px;
}

/* Style for the info/direction modal */
.directionsList {
  list-style: none;
  text-align: justify;
}

/* badge-primary style, this targets due-dates */
.badge-primary {
  font-size: 90%;
  box-shadow: 0px 1px 4px black;
}

/* task text, adds padding between due date and text itself */
.taskTextStyle {
  padding-top: 2px;
}

/* Form control style, connected to adding task modal */
.form-control {
  margin-top: 3%
}

/* Card Style */
.listGroupStyle {
  box-shadow: 0px 6px 15px black;
}

/* Card Emoji Style */
.cardEmoji {
  margin-right: 5px;
  filter: drop-shadow(2px 3px 1px #000000);
}

/* Dropover styles */
.dropover {
  background-color: rgba(0,0,0,0.3);
}

.dropover-active {
  background-color: rgba(0,0,0,0.9);
}

/* Delete Single Task style */
.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: "Staatliches", sans-serif;
  transform: translateY(150px);
  transition: all .5s ease-in-out;
  background-color: rgba(234,0,39,0.7);
}

/* Delete Single Task, animation */
.bottom-trash-drag {
  transform: translate(0);
  opacity: 1;
}

/* Delete Single Task Hovered */
.bottom-trash-active {
  background-color:rgba(234,0,39,1);
}

/* Save Btn Styles */
.btn-add, .btn-save {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 105px;
  background-position: 0 -10px;
}

/* Delete Btn Styles */
.btn-close, .btn-delete {
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

/* Btn hover effect */
.btn-add:hover,
.btn-save:hover,
.btn-close:hover,
.btn-delete:hover {
  background-position: 1px -50px;
}

@media (max-width: 1299px) and (min-width: 1200px) {
  .cardEmoji {
    margin-left: -12px;
  }
}

/* Mobile button visibility */
@media (min-width: 992px) {
  .mobileAddBtn {
    display: none; 
  }
}